@font-face {
   font-family: 'dgdr';
   src: url('https://figseu-technology.github.io/DGDR/JKG-L_3.ttf') format('truetype');
}
body {
        font-family: 'dgdr', sans-serif, serif;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#PresentCode {
  color: #FFFFFF;
  display: none;
  border: solid #969696;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#end_key {
  display: none;
  color: #FFFFFF;
  border: solid #FFFFFF;
  text-decoration: none;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 240%;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 50px;
  left: calc(50% - 200px / 2);
  bottom: 50px;
}
#Waves {
  color: #FFB900;
  position: fixed;
  text-decoration: none;
  top: 2%;
  left: 60%;
  border: double #FFB900;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: 'dgdr',serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
img {
	filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}
canvas {
	width: 100%; 
	height: 100%;
	z-index: 0;
	padding: 0;
	cursor: none;
}
#main{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
#canvascontainer{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
#percent{
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  text-shadow: 1px 2px 3px #808080;
  font-size: 40px;
  font-family: 'dgdr',serif;
  font-weight: 700;
}
#play{
  color: #FFFFFF;
  display: none;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#retry{
  display: none;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#next{
  color: #FFFFFF;
  display: none;
  width: 70px;
  height: 70px;
  right: 10px;
  bottom: 20px;
  font-size: 50px;
}
#prev{
  color: #FFFFFF;
  display: none;
  width: 70px;
  height: 70px;
  left: 10px;
  bottom: 20px;
  font-size: 50px;
}
.button{
  border: solid #FFFFFF;
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.button:hover{
  border: solid #bdbdbd;
}

#score{
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  font-family: 'dgdr',serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #19BFEC;
}

#stars{
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  font-family: 'dgdr',serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #DF32C7;
}

#level{
  position: fixed;
  top: 35%;
  left: 0;
  width: 100%;
  font-family: 'dgdr',sans-serif,serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #e0e0e0;
}

#scoreboard {
  position: fixed;
  top: 150px;
  width: 100%;
  height: 200px;
  text-align: center;
}

#name {
  width: 200px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}

#level-d{
  color: #F31ACF;
  position: fixed;
  top: 5%;
  left: 5%;
  border: double #19BFEC;
  padding: 5px;
  border-radius: 20px;
  text-align: right;
  display: inline-block;
  font-family: 'dgdr',sans-serif,serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#one_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 2%;
  right: 2%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#two_level {
  color: #FF0022;
  position: fixed;
  text-decoration: none;
  top: 9%;
  left: 60%;
  border: double #FF0022;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: 'dgdr',serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#three_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 8%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#four_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 19%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#five_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 30%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#six_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 41%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#seven_level {
  color: #00A0FF;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 52%;
  border: double #00A0FF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#eight_level {
  color: #00B748;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 63%;
  border: double #00B748;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#nine_level {
  color: #FF4BCC;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 74%;
  border: double #FF4BCC;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#ten_level {
  color: #FF0D00;
  position: fixed;
  text-decoration: none;
  top: 17%;
  left: 85%;
  border: double #FF221D;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: 'dgdr',serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#play-arrow {
  width: 50px;
  padding: 20px;
}

#next-arrow, #prev-arrow {
  width: 70px;
}

#retry-icon {
  width: 70px;
  padding: 14px;
}
