body {
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
h3 {
  color: #FFFFFF;
}
#PresentCode {
  color: #FFFFFF;
  display: none;
  border: solid #969696;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#stage_key {
  display: none;
  color: #FFFFFF;
  border: solid #FFFFFF;
  text-decoration: none;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: sans-serif,serif;
  font-weight: 700; 
  font-size: 240%;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 50px;
  left: calc(50% - 200px / 2);
  bottom: 50px;
}
#update_button {
  color: #945A00;
  position: fixed;
  text-decoration: none;
  top: 27%;
  left: 5%;
  border: double #945A00;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#RGW {
  display: none;
  border: solid #FF2300;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#AYH {
  display: none;
  border: solid #003CFF;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#Kimetu {
  display: none;
  border: solid #C85D00;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#Redo {
  display: none;
  border: solid #00C2FF;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#PKNK {
  display: none;
  border: solid #009537;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#PKNKTW {
  display: none;
  border: solid #009537;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#shrine {
  display: none;
  border: solid #B5FFA3;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
img {
	filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}
canvas {
	width: 100%; 
	height: 100%;
	z-index: 0;
	padding: 0;
	cursor: none;
}
#main{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
#canvascontainer{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
#percent{
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  text-shadow: 1px 2px 3px #808080; 
  font-size: 40px;
  font-family: serif;
  font-weight: 700;
}
#play{
  color: #FFFFFF;
  display: none;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#play_nav {
    position: fixed;
    color: #FFFFFF;
    width: 200px;
    height: 100px;
    left: 40%;
    bottom: 48px;
}
#next_nav {
    position: fixed;
    color: #FFFFFF;
    width: 200px;
    height: 100px;
    left: 70%;
    bottom: 48px;
}
#prev_nav {
    position: fixed;
    color: #FFFFFF;
    width: 200px;
    height: 100px;
    left: 0%;
    bottom: 48px;
}
#level_nav {
    position: fixed;
    color: #FFFFFF;
    width: 200px;
    height: 100px;
    left: 40%;
    top: 10%;
}
#retry{
  display: none;
  width: 200px;
  height: 100px;
  left: calc(50% - 200px / 2);
  bottom: 20px;
}
#next{
  color: #FFFFFF;
  display: none;
  width: 70px;
  height: 70px;
  right: 10px;
  bottom: 20px;
  font-size: 50px;
}
#prev{
  color: #FFFFFF;
  display: none;
  width: 70px;
  height: 70px;
  left: 10px;
  bottom: 20px;
  font-size: 50px;
}
.button{
  border: solid #FFFFFF;
  position: fixed;
  background-color: rgba(0,0,0,0);
  font-family: serif;
  font-weight: 700; 
  font-size: 70px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.button:hover{
  border: solid #bdbdbd;
}

#score{
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  font-family: serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #FFAD2A;
}

#stars{
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  font-family: serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #E9DD00;
}

#level{
  position: fixed;
  top: 35%;
  left: 0;
  width: 100%;
  font-family: sans-serif,serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #e0e0e0;
}

#scoreboard {
  position: fixed;
  top: 150px;
  width: 100%;
  height: 200px;
  text-align: center;
}

#name {
  width: 200px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}

#level-d{
  color: #FFFFFF;
  position: fixed;
  top: 5%;
  left: 5%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 20px;
  text-align: right;
  display: inline-block;
  font-family: sans-serif,serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#one_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 9%;
  left: 76%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#two_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 9%;
  left: 87%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#three_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 8%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#four_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 19%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#five_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 30%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#six_level {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 41%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#seven_level {
  color: #00A0FF;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 52%;
  border: double #00A0FF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#eight_level {
  color: #00B748;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 63%;
  border: double #00B748;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#nine_level {
  color: #FF4BCC;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 74%;
  border: double #FF4BCC;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#ten_level {
  color: #FF0D00;
  position: fixed;
  text-decoration: none;
  top: 18%;
  left: 85%;
  border: double #FF221D;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#ev_level {
  color: #FFA500;
  position: fixed;
  text-decoration: none;
  top: 2%;
  left: 80%;
  border: double #FFA500;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#info {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 2%;
  left: 59%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}

#play-arrow {
  color: #FFFFFF;
  width: 50px;
  padding: 20px;
}
#creator_studio {
  color: #FFFFFF;
  position: fixed;
  text-decoration: none;
  top: 27%;
  left: 40%;
  border: double #FFFFFF;
  padding: 5px;
  border-radius: 1px;
  text-align: right;
  display: inline-block;
  font-family: serif;
  font-weight: 700;
  font-size: 20px;
  transform: 0.5em;
}
#next-arrow, #prev-arrow {
  width: 70px;
}

#retry-icon {
  width: 70px;
  padding: 14px;
}
