body{
    background-color: #000B3F;
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
}

h1 {border: double;padding: 5px;}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: snow;
}

#mainNavbar .nav-link:hover{
    color: steelblue;
}

#mainNavbar .navbar-brand{
    color: snow;
    font-size: 1.5rem;
    font-weight: 400;
}

#mainNavbar .navbar-brand span{
    color: darkblue;
}

#headingGroup span{
    color: darkblue;
}

#headingGroup h1{
    font-weight: 100;
}

.contenido h2{
    color: darkblue;
    font-size: 2rem;
    font-weight: 300;
}

.contenido p{
    color: darkblue;
    font-size: 1.25rem;
    font-weight: 100;
}

.seccion{
    margin-top: 50px;
}

#mainNavbar{
    background-color: skyblue;
    transition: background-color 500ms;
}

.navbar.scrolled{
    background-color: slategray;
    transition: background-color 500ms;
}

.cuadroInvocacion{
    color: snow;
}

.Normal{
    display: block;
    float: left;
    background-color: darkgray; /*color que puede usarse para la rareza de la ship*/
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 2px;
    animation-name: spin;
    animation-duration: 0.60s;
    animation-timing-function: linear;
  }

.Elite{
    display: block;
    float: left;
    background-image: linear-gradient(-45deg, blueviolet, violet, blueviolet); ; /*color que puede usarse para la rareza de la ship*/
    border-radius: 5px;
    border-style: solid;
    border-color: darkslateblue;
    border-width: 1px;
    padding: 2px;
    animation-name: spin;
    animation-duration: 0.60s;
    animation-timing-function: linear;
  }

.Rare{
    display: block;
    float: left;
    background-color: skyblue; /*color que puede usarse para la rareza de la ship*/
    border-radius: 5px;
    border-style: solid;
    border-color: darkblue;
    border-width: 1px;
    padding: 2px;
    animation-name: spin;
    animation-duration: 0.60s;
    animation-timing-function: linear;
  }

.SuperRare{
  display: block;
  float: left;
  background-image: linear-gradient(-45deg, white ,yellow, orange, white, orange, yellow, white); ; /*color que puede usarse para la rareza de la ship*/
  border-radius: 5px;
  border-style: solid;
  border-color: goldenrod;
  border-width: 1px;
  padding: 2px;
  animation-name: spin;
  animation-duration: 0.60s;
  animation-timing-function: linear;
}

.UltraRare{
    display: block;
    float: left;
    background-image: linear-gradient(-45deg, yellow, lime, white, aqua, violet); /*color que puede usarse para la rareza de la ship*/
    border-radius: 5px;
    border-style: solid;
    border-color: greenyellow;
    border-width: 1px;
    padding: 2px;
    animation-name: spin;
    animation-duration: 0.60s;
    animation-timing-function: linear;
  }

@keyframes spin {
    0% { transform: scale(0, 0); }
    80% { transform: scale(1, 1); }
  }

@media (max-width: 485px){
    .SuperRare{
        transform: scale(0.85,0.85);
        margin-right: -12px;
    }
    .Elite{
        transform: scale(0.85,0.85);
        margin-right: -12px;
    }
    .Rare{
        transform: scale(0.85,0.85);
        margin-right: -12px;
    }
    .Normal{
        transform: scale(0.85,0.85);
        margin-right: -12px;
    }
    .UltraRare{
        transform: scale(0.85,0.85);
        margin-right: -12px;
    }
}

@media (max-width: 5000px){
    #headingGroup h1{
        font-size: 4.5rem;
        font-weight: 100;
    }
}

@media (max-width: 1700px){
    #headingGroup h1{
        font-size: 3.5rem;
        font-weight: 100;
    }
}

@media (max-width: 1400px){
    #headingGroup h1{
        font-size: 2.7rem;
        font-weight: 100;
    }
}

