body {
	background: #191919;
	color: #FFFFFF;
}
h1 {
	color: #FFFFFF;
	font-family: serif;
}
h3 {
	color: #FFFFFF;
}
#designer{
	background: #191919;
  color: #FFFFFF;
  position: fixed;
  left: 3%;
  top: 10;
  height: 98%;
  overflow-y: auto;
}
#main{
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  overflow-y: auto;
  height: 100%;
  font-family: Roboto;
  padding: 8px;
}
#grid, td{
  border: 1px solid #FFFFFF;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
td{
  width: 30px;
  height: 30px;
}
button {
   color: #FFFFFF;
	   border: double #FFFFFF;
	   width: 40%;
	   height: 10%;
	   background: #191919;
	   font-size: 15px;
   text-decoration: none;
   outline: none;
   box-shadow: 0px 0px 10px;
   transition: 0.1s;
}
button:active {
  box-shadow: 0px 0px 1px;
}
#color{
  color: #B18900;
  border: double #1E3D00;
  width: 80%;
  height: 5%;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #191919;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
  border-radius: 1px;
}
#dg_color1 {
  color: #B18900;
  border: double #1E3D00;
  height: 50px;
  width: 80%;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #191919;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
  text-decoration: none;
}
#dg_color2 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #FF7E00;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color3 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #7E7E7E;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color4 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #FFB9E1;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color5 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #002CFF;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color6 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #B900A4;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color7 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #C4B500;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color8 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #00A548;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color9 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#dg_color10 {
  color: #B18900;
  border: double #1E3D00;
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  font-size: 50%;
  text-shadow: 1px 2px 3px #808080;
}
#output{
  color: #FFFFFF;
  background: #000B3F;
  border-radius: 0;
  border: 1.5px solid;
  width: 95%;
  height: 350px;
  display: block;
  overflow: auto;
  font-size: 5px;
  padding: 2px;
  border-radius: 2px;
}
